.category {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    h2 {
        font-size: 2rem;
        padding-block: 1.5rem;
    }
}