.sidebar {
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: calc(0px - 1.5rem - 6px);

    img {
        width: calc(3rem + 12px);
        height: calc(3rem + 12px);
        border-radius: 8px;
        border: 4px solid var(--gray-800);
        outline: 2px solid var(--green-500);
    }

    strong {
      margin-top: 1rem;
      color: var(--gray-100);
      line-height: 1.6;
    }

    span {
        font-size: 0.875rem;
        line-height: 1.6;
        color: var(--gray-400);
    }
}

.sidebar {
    footer {
        border-top: 1px solid var(--gray-600);
        margin-top: 2.5rem;
        padding: 1.5rem 2rem 2rem;
    }

    footer a {
        background: transparent;
        color: var(--green-500);
        border: 1px solid var(--green-500);
        border-radius: 8px;
        height: 50px;
        padding: 0 1.5rem;
        font-weight: bold;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: all .3s;

        &:hover {
            background: var(--green-500);
            color: var(--white);
        }
    }
}